@tc1:black;/*textcolor*/
@tc2:white;/*header-col bg*/
@tc3:white;/*odd col*/
@tc4:white;/*even row*/
@tc5:black;/*header-col text color*/
body {
    background-color: #5e6466;
}

.topRow{
	border-top: 1px solid black;
}
.bottomRow{
	border-bottom-color: black;
}
input[type=text] {
    border-width: 0;
    width: 100%;
    height: 100%;
}
#mainTable {
    float: left;
    margin-right: 10px;
	border-collapse: collapse;
	background-color:   @tc4;   
}
#mainTable .odd {
	background-color: @tc3;
}
#mainTable td {
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	color: @tc1;
}
#mainTable td div {
	padding-right: 3px;
	padding-left: 3px;
	width: 37px;
	height: 20px;
	overflow: hidden;
}
div {
display: block;
}
#mainTable th {
	background-color: @tc2;
	color: @tc5;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	border-right-color: black;
	text-align: right;
	padding-right: 5px;
}
#tableContainer {
	float: left;
}

#newProductButtonContainer {
	float: right;
    margin-right: -10px;
	clear: left;
}
#addNewProduct {
	width: 32px;
	height: 33px;
	float: left;
	background-image: url("Images/addButton.png");
	cursor: pointer;
}

//Styles for rotateTableCellContent plugin start
table div.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  writing-mode:tb-rl;
  white-space: nowrap;
}
thead th {
  vertical-align: top;
}
table .vertical {
  white-space: nowrap;
  text-align: center;
}
table .vertical div {
	margin: auto;
}
//Styles for rotateTableCellContent plugin end